.login-container {
    width: 50%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}

input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

#login-btn {
    background-color: #ccc;
    color: white;
}

button:hover {
    opacity: 0.8;
}
